/* font-family: 'Comfortaa', cursive;
font-family: 'Montserrat', sans-serif; */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

html {
    font-size: 62.5%;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
}

body {
    color: white;
    background: linear-gradient(rgba(5, 7, 12, 0.4), rgba(5,7,12,0.4)), url(https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849822_960_720.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#title {
    font-size: 4rem;
    text-align: center;
    font-weight: 600;
}

#description {
    font-size: 2.1rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: italic;
}
.container2 {
    display: flex;
    border: 3px solid white;
    border-radius: 10px;
    max-width: 75%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    background: rgba(5, 7, 12, 0.8);

}

#survey-form {
    line-height: 2.5;
    font-size: 2rem;
    width: 100%;
    text-align: left;
    padding: 1em;
    
}

.form-group {
    flex-direction: column;
}

.form-input {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    border-radius: 0.5rem;
}

label {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.questions {
    font-weight: 600;
}

.input-radio {
    margin-right: 0.5rem;
    min-width: 2rem;
    min-height: 2rem;
}

.checkbox-item {
    margin-right: 0.5rem;
    min-width: 2rem;
    min-height: 2rem;
}

.btn-submit {
    font-weight: 600;
    width: 25%;
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    padding: 0.5em 0;
    border-radius: 0.5rem;
    background-color: tomato;
    font-weight: 600;
}

.btn-submit:hover {
    background-color: rgb(253, 63, 29);
    color: white;
}

